#move {
background:-webkit-linear-gradient(top, white 0%, white 50%, transparent 100%);
background:-moz-linear-gradient(top, white 0%, white 50%, transparent 100%);
background:linear-gradient(to bottom, white 0%, white 50%, transparent 100%);
}

body {
    color: #444;
    font-family: fantasy;
}



a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: royalblue;
}
