#clock img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
#clock img:hover {
	transform: scale(1.3);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

#pot img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
#pot img:hover {
	transform: scale(1.3);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}

#trump img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
#trump img:hover {
	transform: scale(1.3);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
